<p>Number to currency</p>
<%= number_to_currency(31.3) %>
<br>
<%= number_to_currency(75.85, :precision => 0, :unit => 'kr', :format => '%n %u') %>
<p>Number to percentage</p>
<%= number_to_percentage(92.5) %>
<br>
<%= number_to_percentage(68.82, :precision => 1, :separator => ',') %>
<p>Number with precision</p>
<%= number_with_precision(27.45798) %>
<br>
<%= number_with_precision(18.4589897, :precision => 6) %>
<p>Number with delimiter</p>
<%= number_with_delimiter(432546663) %>
<br>
<%= number_with_delimiter(432546663, :delimiter => '.') %>
<p>Number to humab</p>
<%= number_to_human(3442543646) %>
<br>
<%= number_to_human(3442543646, :precision => 5) %>
<p>Number to human size</p>
<%= number_to_human_size(1232445667) %>
<br>
<%= number_to_human_size(1232445667, :precision => 2) %>
<p>Number to phone</p>
<%= number_to_phone(243543667) %>
<br>
<%= number_to_phone(235346574577,
    :area_code => true,
    :delimiter => ' ',
    :country_code => 36,
    :extension => '321') %>
