<div class="pages index">
  <h2>Pages</h2>

  <%= link_to("Add New Page", {:action => 'new'}, :class => 'action new') %>
  <div><%= pluralize(@pages.size, 'subject')  %> found</div>
  <table class="listing" summary="Page list">
    <tr class="header">
      <th>Page</th>
      <th>Name</th>
      <th>Subject</th>
      <th>Permalink</th>
      <th>Position</th>
      <th>Visible</th>
      <th>Actions</th>
    <tr class="<%= cycle('odd', 'even') %>">
    <% @pages.each do |page| %>
        <tr>
          <td><%= page.id %></td>
          <td><%= page.name if page.subject %></td>
          <td><%= page.subject.name %></td>
          <td><%= page.permalink %></td>
          <td><%= page.position %></td>
          <td class="center"><%= page.visible ? 'Yes' : 'No' %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show', :id => page.id}, :class => 'action show') %>
            <%= link_to("Edit", {:action => 'edit', :id => page.id}, :class => 'action edit') %>
            <%= link_to("Delete", {:action => 'delete', :id => page.id}, :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
